src/main/webapp/wsdl/ClsDSNMapDesigner.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.DSN.mesplus.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.DSN.mesplus.com" xmlns:intf="http://services.DSN.mesplus.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.DSN.mesplus.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="GetAdminMap">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="psaParam" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="GetAdminMapResponse">
    <complexType>
     <sequence>
      <element name="GetAdminMapReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="GetAdminCol">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="psaParam" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="GetAdminColResponse">
    <complexType>
     <sequence>
      <element name="GetAdminColReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="SetAdmin">
    <complexType>
     <sequence>
      <element name="psParamsMap" type="xsd:string"/>
      <element name="psParamsCol" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="SetAdminResponse">
    <complexType>
     <sequence>
      <element name="SetAdminReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="GetFunctionExcelTemplateFieldList">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="psaParam" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="GetFunctionExcelTemplateFieldListResponse">
    <complexType>
     <sequence>
      <element name="GetFunctionExcelTemplateFieldListReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="GetDynamicQueryS2">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="psaParam" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="GetDynamicQueryS2Response">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="GetDynamicQueryS2Return" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="GetDesignerS2">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="psaParam" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="GetDesignerS2Response">
    <complexType>
     <sequence>
      <element name="GetDesignerS2Return" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="SetMapDesignerAllS2">
    <complexType>
     <sequence>
      <element name="psParamsDesigner" type="xsd:string"/>
      <element name="psParamsCondition" type="xsd:string"/>
      <element name="psParamsDesignerTable" type="xsd:string"/>
      <element name="psParamsWhere" type="xsd:string"/>
      <element name="psParamsFunctionTableRelation" type="xsd:string"/>
      <element name="psParamsFunctionSpreadValidation" type="xsd:string"/>
      <element name="psParamsFunctionSPRelation" type="xsd:string"/>
      <element name="psParamsFunctionServiceRelation" type="xsd:string"/>
      <element name="psParamsChart" type="xsd:string"/>
      <element name="psParamsAssign" type="xsd:string"/>
      <element name="psParamFunctionTemplateRelation" type="xsd:string"/>
      <element name="psParamFunctionTemplateField" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="SetMapDesignerAllS2Response">
    <complexType>
     <sequence>
      <element name="SetMapDesignerAllS2Return" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="SetPersonalization">
    <complexType>
     <sequence>
      <element name="psParamsMap" type="xsd:string"/>
      <element name="psParamsCol" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="SetPersonalizationResponse">
    <complexType>
     <sequence>
      <element name="SetPersonalizationReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="GetServiceMember">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="psServiceID" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="GetServiceMemberResponse">
    <complexType>
     <sequence>
      <element name="GetServiceMemberReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="CopyMapDesigner">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="psaParam" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="CopyMapDesignerResponse">
    <complexType>
     <sequence>
      <element name="CopyMapDesignerReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="SetDynamicQuery">
    <complexType>
     <sequence>
      <element name="psParams" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="SetDynamicQueryResponse">
    <complexType>
     <sequence>
      <element name="SetDynamicQueryReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="SetDynamicMultiQuery">
    <complexType>
     <sequence>
      <element name="psParamMaster" type="xsd:string"/>
      <element maxOccurs="unbounded" name="psaParamDetail" type="xsd:string"/>
      <element name="psParentKey" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="SetDynamicMultiQueryResponse">
    <complexType>
     <sequence>
      <element name="SetDynamicMultiQueryReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="GetFunctionRelationList">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="psaParam" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="GetFunctionRelationListResponse">
    <complexType>
     <sequence>
      <element name="GetFunctionRelationListReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="GetFunctionSpreadList">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="psaParam" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="GetFunctionSpreadListResponse">
    <complexType>
     <sequence>
      <element name="GetFunctionSpreadListReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="GetPersonalizationMap">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="psaParam" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="GetPersonalizationMapResponse">
    <complexType>
     <sequence>
      <element name="GetPersonalizationMapReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="GetPersonalizationCol">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="psaParam" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="GetPersonalizationColResponse">
    <complexType>
     <sequence>
      <element name="GetPersonalizationColReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="GetFunctionTableRelationList">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="psaParam" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="GetFunctionTableRelationListResponse">
    <complexType>
     <sequence>
      <element name="GetFunctionTableRelationListReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="GetFunctionSPRelationList">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="psaParam" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="GetFunctionSPRelationListResponse">
    <complexType>
     <sequence>
      <element name="GetFunctionSPRelationListReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="GetDesignerFunctionSpreadAll">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="psaParam" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="GetDesignerFunctionSpreadAllResponse">
    <complexType>
     <sequence>
      <element name="GetDesignerFunctionSpreadAllReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="SetPersonalizationMap">
    <complexType>
     <sequence>
      <element name="psParams" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="SetPersonalizationMapResponse">
    <complexType>
     <sequence>
      <element name="SetPersonalizationMapReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="SetPersonalizationCol">
    <complexType>
     <sequence>
      <element name="psParams" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="SetPersonalizationColResponse">
    <complexType>
     <sequence>
      <element name="SetPersonalizationColReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="ExecuteStoredProcedure">
    <complexType>
     <sequence>
      <element name="psSPID" type="xsd:string"/>
      <element name="psSPName" type="xsd:string"/>
      <element name="psParams" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="ExecuteStoredProcedureResponse">
    <complexType>
     <sequence>
      <element name="ExecuteStoredProcedureReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="SetDynamicTripleQuery">
    <complexType>
     <sequence>
      <element name="psParamMaster" type="xsd:string"/>
      <element name="psParamDetail" type="xsd:string"/>
      <element maxOccurs="unbounded" name="psaParamDetailDetail" type="xsd:string"/>
      <element name="psParentKey" type="xsd:string"/>
      <element name="psDetailKey" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="SetDynamicTripleQueryResponse">
    <complexType>
     <sequence>
      <element name="SetDynamicTripleQueryReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="GetFunctionRelationListResponse">

      <wsdl:part element="impl:GetFunctionRelationListResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="CopyMapDesignerRequest">

      <wsdl:part element="impl:CopyMapDesigner" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="GetFunctionTableRelationListResponse">

      <wsdl:part element="impl:GetFunctionTableRelationListResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="GetFunctionRelationListRequest">

      <wsdl:part element="impl:GetFunctionRelationList" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="GetDynamicQueryS2Request">

      <wsdl:part element="impl:GetDynamicQueryS2" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="SetPersonalizationColResponse">

      <wsdl:part element="impl:SetPersonalizationColResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="GetDesignerS2Request">

      <wsdl:part element="impl:GetDesignerS2" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="GetServiceMemberResponse">

      <wsdl:part element="impl:GetServiceMemberResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="GetAdminMapRequest">

      <wsdl:part element="impl:GetAdminMap" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="GetDesignerFunctionSpreadAllResponse">

      <wsdl:part element="impl:GetDesignerFunctionSpreadAllResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="GetServiceMemberRequest">

      <wsdl:part element="impl:GetServiceMember" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="SetDynamicTripleQueryRequest">

      <wsdl:part element="impl:SetDynamicTripleQuery" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="SetPersonalizationMapResponse">

      <wsdl:part element="impl:SetPersonalizationMapResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="GetFunctionSPRelationListResponse">

      <wsdl:part element="impl:GetFunctionSPRelationListResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="SetDynamicQueryRequest">

      <wsdl:part element="impl:SetDynamicQuery" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="SetPersonalizationColRequest">

      <wsdl:part element="impl:SetPersonalizationCol" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="GetFunctionTableRelationListRequest">

      <wsdl:part element="impl:GetFunctionTableRelationList" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="SetMapDesignerAllS2Request">

      <wsdl:part element="impl:SetMapDesignerAllS2" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="SetPersonalizationRequest">

      <wsdl:part element="impl:SetPersonalization" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="SetPersonalizationResponse">

      <wsdl:part element="impl:SetPersonalizationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="SetDynamicQueryResponse">

      <wsdl:part element="impl:SetDynamicQueryResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="GetDesignerS2Response">

      <wsdl:part element="impl:GetDesignerS2Response" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="GetAdminColRequest">

      <wsdl:part element="impl:GetAdminCol" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="SetAdminResponse">

      <wsdl:part element="impl:SetAdminResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="SetDynamicTripleQueryResponse">

      <wsdl:part element="impl:SetDynamicTripleQueryResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ExecuteStoredProcedureRequest">

      <wsdl:part element="impl:ExecuteStoredProcedure" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="GetFunctionSpreadListRequest">

      <wsdl:part element="impl:GetFunctionSpreadList" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="GetPersonalizationColResponse">

      <wsdl:part element="impl:GetPersonalizationColResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="GetPersonalizationMapResponse">

      <wsdl:part element="impl:GetPersonalizationMapResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="SetAdminRequest">

      <wsdl:part element="impl:SetAdmin" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="GetFunctionSPRelationListRequest">

      <wsdl:part element="impl:GetFunctionSPRelationList" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="GetAdminColResponse">

      <wsdl:part element="impl:GetAdminColResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="GetFunctionSpreadListResponse">

      <wsdl:part element="impl:GetFunctionSpreadListResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="SetDynamicMultiQueryRequest">

      <wsdl:part element="impl:SetDynamicMultiQuery" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="SetPersonalizationMapRequest">

      <wsdl:part element="impl:SetPersonalizationMap" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="GetAdminMapResponse">

      <wsdl:part element="impl:GetAdminMapResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="GetPersonalizationColRequest">

      <wsdl:part element="impl:GetPersonalizationCol" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="GetDesignerFunctionSpreadAllRequest">

      <wsdl:part element="impl:GetDesignerFunctionSpreadAll" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ExecuteStoredProcedureResponse">

      <wsdl:part element="impl:ExecuteStoredProcedureResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="GetFunctionExcelTemplateFieldListResponse">

      <wsdl:part element="impl:GetFunctionExcelTemplateFieldListResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="SetMapDesignerAllS2Response">

      <wsdl:part element="impl:SetMapDesignerAllS2Response" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="GetPersonalizationMapRequest">

      <wsdl:part element="impl:GetPersonalizationMap" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="GetDynamicQueryS2Response">

      <wsdl:part element="impl:GetDynamicQueryS2Response" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="GetFunctionExcelTemplateFieldListRequest">

      <wsdl:part element="impl:GetFunctionExcelTemplateFieldList" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="CopyMapDesignerResponse">

      <wsdl:part element="impl:CopyMapDesignerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="SetDynamicMultiQueryResponse">

      <wsdl:part element="impl:SetDynamicMultiQueryResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ClsDSNMapDesigner">

      <wsdl:operation name="GetAdminMap">

         <wsdl:input message="impl:GetAdminMapRequest" name="GetAdminMapRequest">

       </wsdl:input>

         <wsdl:output message="impl:GetAdminMapResponse" name="GetAdminMapResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="GetAdminCol">

         <wsdl:input message="impl:GetAdminColRequest" name="GetAdminColRequest">

       </wsdl:input>

         <wsdl:output message="impl:GetAdminColResponse" name="GetAdminColResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="SetAdmin">

         <wsdl:input message="impl:SetAdminRequest" name="SetAdminRequest">

       </wsdl:input>

         <wsdl:output message="impl:SetAdminResponse" name="SetAdminResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="GetFunctionExcelTemplateFieldList">

         <wsdl:input message="impl:GetFunctionExcelTemplateFieldListRequest" name="GetFunctionExcelTemplateFieldListRequest">

       </wsdl:input>

         <wsdl:output message="impl:GetFunctionExcelTemplateFieldListResponse" name="GetFunctionExcelTemplateFieldListResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="GetDynamicQueryS2">

         <wsdl:input message="impl:GetDynamicQueryS2Request" name="GetDynamicQueryS2Request">

       </wsdl:input>

         <wsdl:output message="impl:GetDynamicQueryS2Response" name="GetDynamicQueryS2Response">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="GetDesignerS2">

         <wsdl:input message="impl:GetDesignerS2Request" name="GetDesignerS2Request">

       </wsdl:input>

         <wsdl:output message="impl:GetDesignerS2Response" name="GetDesignerS2Response">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="SetMapDesignerAllS2">

         <wsdl:input message="impl:SetMapDesignerAllS2Request" name="SetMapDesignerAllS2Request">

       </wsdl:input>

         <wsdl:output message="impl:SetMapDesignerAllS2Response" name="SetMapDesignerAllS2Response">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="SetPersonalization">

         <wsdl:input message="impl:SetPersonalizationRequest" name="SetPersonalizationRequest">

       </wsdl:input>

         <wsdl:output message="impl:SetPersonalizationResponse" name="SetPersonalizationResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="GetServiceMember">

         <wsdl:input message="impl:GetServiceMemberRequest" name="GetServiceMemberRequest">

       </wsdl:input>

         <wsdl:output message="impl:GetServiceMemberResponse" name="GetServiceMemberResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="CopyMapDesigner">

         <wsdl:input message="impl:CopyMapDesignerRequest" name="CopyMapDesignerRequest">

       </wsdl:input>

         <wsdl:output message="impl:CopyMapDesignerResponse" name="CopyMapDesignerResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="SetDynamicQuery">

         <wsdl:input message="impl:SetDynamicQueryRequest" name="SetDynamicQueryRequest">

       </wsdl:input>

         <wsdl:output message="impl:SetDynamicQueryResponse" name="SetDynamicQueryResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="SetDynamicMultiQuery">

         <wsdl:input message="impl:SetDynamicMultiQueryRequest" name="SetDynamicMultiQueryRequest">

       </wsdl:input>

         <wsdl:output message="impl:SetDynamicMultiQueryResponse" name="SetDynamicMultiQueryResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="GetFunctionRelationList">

         <wsdl:input message="impl:GetFunctionRelationListRequest" name="GetFunctionRelationListRequest">

       </wsdl:input>

         <wsdl:output message="impl:GetFunctionRelationListResponse" name="GetFunctionRelationListResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="GetFunctionSpreadList">

         <wsdl:input message="impl:GetFunctionSpreadListRequest" name="GetFunctionSpreadListRequest">

       </wsdl:input>

         <wsdl:output message="impl:GetFunctionSpreadListResponse" name="GetFunctionSpreadListResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="GetPersonalizationMap">

         <wsdl:input message="impl:GetPersonalizationMapRequest" name="GetPersonalizationMapRequest">

       </wsdl:input>

         <wsdl:output message="impl:GetPersonalizationMapResponse" name="GetPersonalizationMapResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="GetPersonalizationCol">

         <wsdl:input message="impl:GetPersonalizationColRequest" name="GetPersonalizationColRequest">

       </wsdl:input>

         <wsdl:output message="impl:GetPersonalizationColResponse" name="GetPersonalizationColResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="GetFunctionTableRelationList">

         <wsdl:input message="impl:GetFunctionTableRelationListRequest" name="GetFunctionTableRelationListRequest">

       </wsdl:input>

         <wsdl:output message="impl:GetFunctionTableRelationListResponse" name="GetFunctionTableRelationListResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="GetFunctionSPRelationList">

         <wsdl:input message="impl:GetFunctionSPRelationListRequest" name="GetFunctionSPRelationListRequest">

       </wsdl:input>

         <wsdl:output message="impl:GetFunctionSPRelationListResponse" name="GetFunctionSPRelationListResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="GetDesignerFunctionSpreadAll">

         <wsdl:input message="impl:GetDesignerFunctionSpreadAllRequest" name="GetDesignerFunctionSpreadAllRequest">

       </wsdl:input>

         <wsdl:output message="impl:GetDesignerFunctionSpreadAllResponse" name="GetDesignerFunctionSpreadAllResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="SetPersonalizationMap">

         <wsdl:input message="impl:SetPersonalizationMapRequest" name="SetPersonalizationMapRequest">

       </wsdl:input>

         <wsdl:output message="impl:SetPersonalizationMapResponse" name="SetPersonalizationMapResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="SetPersonalizationCol">

         <wsdl:input message="impl:SetPersonalizationColRequest" name="SetPersonalizationColRequest">

       </wsdl:input>

         <wsdl:output message="impl:SetPersonalizationColResponse" name="SetPersonalizationColResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ExecuteStoredProcedure">

         <wsdl:input message="impl:ExecuteStoredProcedureRequest" name="ExecuteStoredProcedureRequest">

       </wsdl:input>

         <wsdl:output message="impl:ExecuteStoredProcedureResponse" name="ExecuteStoredProcedureResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="SetDynamicTripleQuery">

         <wsdl:input message="impl:SetDynamicTripleQueryRequest" name="SetDynamicTripleQueryRequest">

       </wsdl:input>

         <wsdl:output message="impl:SetDynamicTripleQueryResponse" name="SetDynamicTripleQueryResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ClsDSNMapDesignerSoapBinding" type="impl:ClsDSNMapDesigner">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="GetAdminMap">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="GetAdminMapRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="GetAdminMapResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="GetAdminCol">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="GetAdminColRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="GetAdminColResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="SetAdmin">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="SetAdminRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="SetAdminResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="GetFunctionExcelTemplateFieldList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="GetFunctionExcelTemplateFieldListRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="GetFunctionExcelTemplateFieldListResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="GetDynamicQueryS2">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="GetDynamicQueryS2Request">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="GetDynamicQueryS2Response">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="GetDesignerS2">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="GetDesignerS2Request">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="GetDesignerS2Response">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="SetMapDesignerAllS2">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="SetMapDesignerAllS2Request">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="SetMapDesignerAllS2Response">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="SetPersonalization">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="SetPersonalizationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="SetPersonalizationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="GetServiceMember">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="GetServiceMemberRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="GetServiceMemberResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="CopyMapDesigner">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="CopyMapDesignerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="CopyMapDesignerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="SetDynamicQuery">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="SetDynamicQueryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="SetDynamicQueryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="SetDynamicMultiQuery">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="SetDynamicMultiQueryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="SetDynamicMultiQueryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="GetFunctionRelationList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="GetFunctionRelationListRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="GetFunctionRelationListResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="GetFunctionSpreadList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="GetFunctionSpreadListRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="GetFunctionSpreadListResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="GetPersonalizationMap">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="GetPersonalizationMapRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="GetPersonalizationMapResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="GetPersonalizationCol">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="GetPersonalizationColRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="GetPersonalizationColResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="GetFunctionTableRelationList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="GetFunctionTableRelationListRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="GetFunctionTableRelationListResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="GetFunctionSPRelationList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="GetFunctionSPRelationListRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="GetFunctionSPRelationListResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="GetDesignerFunctionSpreadAll">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="GetDesignerFunctionSpreadAllRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="GetDesignerFunctionSpreadAllResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="SetPersonalizationMap">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="SetPersonalizationMapRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="SetPersonalizationMapResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="SetPersonalizationCol">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="SetPersonalizationColRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="SetPersonalizationColResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ExecuteStoredProcedure">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ExecuteStoredProcedureRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="ExecuteStoredProcedureResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="SetDynamicTripleQuery">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="SetDynamicTripleQueryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="SetDynamicTripleQueryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ClsDSNMapDesignerService">

      <wsdl:port binding="impl:ClsDSNMapDesignerSoapBinding" name="ClsDSNMapDesigner">

         <wsdlsoap:address location="http://localhost:8080/smartfactory/services/ClsDSNMapDesigner"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
