src/main/webapp/wsdl/ClsMDIMain.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.DSN.mesplus.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.DSN.mesplus.com" xmlns:intf="http://services.DSN.mesplus.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.DSN.mesplus.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="GetLoginInformation">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="psaParam" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="GetLoginInformationResponse">
    <complexType>
     <sequence>
      <element name="GetLoginInformationReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="GetLoginInformationRequest">

      <wsdl:part element="impl:GetLoginInformation" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="GetLoginInformationResponse">

      <wsdl:part element="impl:GetLoginInformationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ClsMDIMain">

      <wsdl:operation name="GetLoginInformation">

         <wsdl:input message="impl:GetLoginInformationRequest" name="GetLoginInformationRequest">

       </wsdl:input>

         <wsdl:output message="impl:GetLoginInformationResponse" name="GetLoginInformationResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ClsMDIMainSoapBinding" type="impl:ClsMDIMain">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="GetLoginInformation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="GetLoginInformationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="GetLoginInformationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ClsMDIMainService">

      <wsdl:port binding="impl:ClsMDIMainSoapBinding" name="ClsMDIMain">

         <wsdlsoap:address location="http://localhost:8080/smartfactory/services/ClsMDIMain"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
